.hotspot-wrap {
  position: relative;
  /*overflow: hidden;*/

  &__img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    user-select: none;
  }

  &__area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: crosshair;
  }

  &__item {
    position: absolute;
    display: block;
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0 6px #000; */
    background-color: rgba(80, 123, 251, 0.1);
    border: 1px solid #507bfb;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    opacity: 0.8;

    > li {
      position: absolute;
      text-align: center;
      user-select: none;
    }

    &__icon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 20px;
      text-align: center;
    }

    &__icon:hover {
      background-color: #e31414;
      opacity: 0.8;
    }

    &__index {
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      line-height: 15px;
      background-color: #e9e9;
      border-radius: 50%;
    }

    &__close {
      top: -5px;
      right: -5px;
      background: #000;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: 15px;
      line-height: 17px;
      z-index: 2;
    }

    &__square {
      width: 8px;
      height: 8px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(80, 123, 251, 1);
      border-radius: 50%;
      box-shadow: 0 1px 2px 0 rgba(27, 37, 68, 0.15);
    }

    &__square:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: #fff;
    }
    &__square-tl {
      top: -4px;
      left: -4px;
      cursor: nw-resize;
    }
    &__square-tc {
      top: -4px;
      left: 50%;
      transform: translateX(-50%);
      cursor: n-resize;
    }
    &__square-tr {
      top: -4px;
      right: -4px;
      cursor: ne-resize;
    }
    &__square-cl {
      top: 50%;
      left: -4px;
      transform: translateY(-50%);
      cursor: w-resize;
    }
    &__square-cr {
      top: 50%;
      right: -4px;
      transform: translateY(-50%);
      cursor: w-resize;
    }
    &__square-bl {
      bottom: -4px;
      left: -4px;
      cursor: sw-resize;
    }
    &__square-bc {
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      cursor: s-resize;
    }
    &__square-br {
      bottom: -4px;
      right: -4px;
      cursor: se-resize;
    }
  }

  .hostspot-active {
    background-color: rgba(80, 123, 251, 0.4);
  }

  .hotspot-hidden > li {
    display: none;
  }
}
/* reset */
.hotspot-wrap {
  font-size: 12px;
  /* 清除内外边距 */
  /* 重置列表元素 */
  /* 重置文本格式元素 */
  /* 初始化 input */
}
.hotspot-wrap ul,
.hotspot-wrap ol,
.hotspot-wrap li {
  margin: 0;
  padding: 0;
}
.hotspot-wrap ul,
.hotspot-wrap ol {
  list-style: none;
}
.hotspot-wrap a {
  text-decoration: none;
}
.hotspot-wrap a:hover {
  text-decoration: underline;
}
.hotspot-wrap p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.hotspot-wrap input[type="checkbox"] {
  cursor: pointer;
}
